.pagefooter {
  padding: 2em;
  background: #000;
  color: var(--color-white);
  text-align: center;
}
.pagefooter a {
  color: #28a0bc;
  text-decoration: none;
}

@media only screen and (min-width: 700px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr repeat(2, minmax(auto, 25em)) 1fr;
    grid-template-rows: auto;
  }

  .pagefooter div {
    grid-column: 2/4;
  }
}
