.profile {
  background: var(--color-beige);
  color: var(--color-black);
  padding-bottom: 10px;
  padding-top: 20px;
}
.photo {
  border-radius: 10%;
  margin: 0 auto;
  height: auto;
  box-shadow: 5px 5px #888888;
}

@media only screen and (min-width: 700px) {
  .photo {
    max-width: 50%;
  }
}
