* {
  box-sizing: border-box;
}
body {
  font-family: 'Roboto', sans-serif;
  font-size: 112.5%;
  line-height: 1.5;
  background: var(--color-black);
  color: var(--color-white);
  margin: 0;
  text-align: center;
}
h1,
h2 {
  margin: 0;
  padding: 1em 0;
}
p {
  margin: 0;
  padding: 1em 0;
}
