@import '_base.css';
@import '_variables.css';
@import 'components/header.css';
@import 'components/profile.css';

/* Section B */
.section-b {
  padding: 2em 1em 1em;
}
.boxone {
  padding-bottom: 30px;
}

.section-b ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.section-b li {
  margin-bottom: 1em;
  background: var(--color-white);
  color: var(--color-black);
}

.card-content {
  padding: 0;
}

/* Section C */
.box {
  padding: 1em;
  color: var(--color-white);
}
.section-c {
  padding-bottom: 18px;
  padding-top: 36px;
  background: var(--color-beige);
  color: var(--color-black);
}

/* Section D */
.section-d {
  background: var(--color-white);
  color: var(--color-black);
  padding: 2em;
}

/* Section E */
.section-e {
  color: var(--color-black);
  padding: 0;
}

/* Footer */
.pagefooter {
  padding: 2em;
  background: #000;
  color: var(--color-white);
  text-align: center;
}
.pagefooter a {
  color: #28a0bc;
  text-decoration: none;
}

.icon {
  border-radius: 100px;
  padding: 10px;
  height: 100px;
  width: 100px;
}
.links {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.boxone h3 {
  margin-top: 0;
}
.boxtwo h3 {
  margin-top: 0;
}

/* Media Queries */

@media only screen and (min-width: 700px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr repeat(2, minmax(auto, 25em)) 1fr;
    grid-template-rows: auto;
  }

  .content-wrap {
    grid-column: 2/4;
  }

  .section-b ul {
    grid-column: 2/4;
  }
  .pagelist > li {
    margin: 6px;
  }

  .box {
    grid-column: span 2;
  }
  .pagefooter div {
    grid-column: 2/4;
  }
  .boxone {
    grid-column: 2/3;
  }
  .boxtwo {
    grid-column: 3/4;
  }

  .content-text {
    columns: 2;
    column-gap: 2em;
  }

  .content-text p {
    padding-top: 0;
  }

  .section-b ul {
    display: flex;
    justify-content: space-around;
  }

  .section-b li {
    width: 20%;
  }

  .links {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}
